Term Project: data sources from : https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#bb967f18-8d90-defc-2946-db3543648bd6

In [46]:
import pandas as pd
import numpy as np

xls = pd.ExcelFile("Bus 2014.xlsx")
df2014 = pd.read_excel(xls,None) 
#this reads in all sheets as sheet name: data frame dictionary pairs...how do we convert this into one big dataframe
df = pd.DataFrame(list(df2014.items())) #columns = ["Report Date", "Route","Time","Day","Location","Incident","Min Delay","Min Gap","Direction","Vehicle"])
print(df.head()) #this created one dataframe with all sheet names in column 0, and sheet column heads all in one column

          0                                                  1
0  Jan 2014       Report Date  Route      Time        Day  ...
1  Feb 2014       Report Date  Route      Time       Day  \...
2  Mar 2014       Report Date  Route      Time       Day  \...
3  Apr 2014       Report Date  Route      Time        Day  ...
4  May 2014       Report Date  Route      Time       Day   ...

In [ ]:
df = pd.read_excel("Bus 2014.xlsx")
df.tail()

In [6]:
df.head()

,Report Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
0,2014-01-01,95,00:23:00,Wednesday,York Mills station,Mechanical,10.0,20.0,E,1734.0
1,2014-01-01,102,00:55:00,Wednesday,Entire run for route,General Delay,33.0,66.0,b/w,8110.0
2,2014-01-01,54,01:28:00,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,WB,7478.0
3,2014-01-01,112,01:30:00,Wednesday,Kipling Station,Emergency Services,18.0,36.0,N,8084.0
4,2014-01-01,24,01:37:00,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,n,7843.0

In [13]:
df['Report Date'].max()

Timestamp('2014-01-31 00:00:00')